{% extends '::base.html.twig' %}
{% block title %}Акции{% endblock %}
{% block sales %}{% endblock %}
{% block body -%}
<section>
    <div class="container">
        <h1>Все акции и новости</h1>
        {% if app.request.headers.get('referer') %}
            <p><a href="{{ app.request.headers.get('referer') }}">назад</a></p><br/>
        {% endif %}
        {% for sale in pagination %}
            {% if sale.cat %}
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        <h3 class="panel-title">Акция</h3>
            {% else %}
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">Новости</h3>
            {% endif %}
                    </div>
                    <div class="panel-body">
                        <p>{{ sale.salestext | raw }}</p>
                        <small>{% if sale.datecr %}{{ sale.datecr|date('Y-m-d') }}{% endif %}</small>
                    </div>
                </div>
        {%endfor%}
        <nav>
            {{ knp_pagination_render(pagination) }}
        </nav>
    </div>
</section>
{% endblock %}
