<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Соляная пещера в Новосибирске{% endblock %} | Соль City</title>
        <meta name="description" content="Соль City - соляная пещера в Новосибирске. Ваше здоровье в Ваших руках!">
        <meta name="author" content="Trofimov Anton">
        <meta name="keywords" content="соляная пещера Новосибирск соль city" />
        <meta name="geo.region" content="RU" />
        <meta name="geo.placename" content="Новосибирск" />
        <meta name="google-site-verification" content="EGuwerU7XV0DP4Pfj2b3VWEIOfNljIEtoe0_kM5-ZVg" />
        <meta name='yandex-verification' content='4ec78f46c57beaef' />
        <meta name="robots" content="INDEX, NOFOLLOW">
        <link rel="icon" href="{{ asset('favicon.ico') }}" />
        {% block stylesheets %}
            <link href='https://fonts.googleapis.com/css?family=Comfortaa&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
            <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet">
            <link href="{{ asset('css/awesome-bootstrap-checkbox.css') }}" rel="stylesheet">
            <link href="{{ asset('css/saltcity.css') }}" rel="stylesheet">
        {% endblock %}
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="{{ asset('js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
        {% block scripts %}{% endblock %}
    </head>

    <body data-spy="scroll" data-target=".navbar">
        <section id="top"></section>
        <div class="navbar-wrapper">
                <nav class="navbar navbar-default navbar-fixed-top">
                    <div class="container">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                <span class="sr-only">Показать меню</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div id="navbar" class="navbar-collapse collapse">
                            <ul id="scrollspynav" class="nav navbar-nav">
                                {% set salt = ['salt', 'salt_cert', 'salt_contr', 'salt_ind', 'salt_rules'] %}
                                <li>
                                    <a href="{{ app.request.attributes.get('_route') != 'homepage' ? path('homepage') : '#top'}}">Соль City</a>
                                </li>
                                <li class="{{ app.request.attributes.get('_route') in salt ? 'active' }}">
                                    <a href="{{ app.request.attributes.get('_route') != 'homepage' ? path('homepage') }}#salt">
                                        О соляной пещере
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ app.request.attributes.get('_route') != 'homepage' ? path('homepage') }}#photo">Галерея</a>
                                </li>
                                <li>
                                    <a href="{{ app.request.attributes.get('_route') != 'homepage' ? path('homepage') }}#prices">Цены</a>
                                </li>
                                <li>
                                    <a href="{{ app.request.attributes.get('_route') != 'homepage' ? path('homepage') }}#contact">Контакты</a>
                                </li>
                                <li class="{{ app.request.attributes.get('_route') == 'comments' ? 'active' }}">
                                    <a href="{{ path('comments') }}">Отзывы</a>
                                </li>
                            </ul>
                            <ul class="nav navbar-nav navbar-right">
                                {% if is_granted("ROLE_ADMIN") %}
                                    <li class="dropdown {{ 'sonata_admin_dashboard' in app.request.attributes.get('_route') ? 'active' }}">
                                        <a href="{{ path('sonata_admin_dashboard') }}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Админка <span class="caret"></span></a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="{{ path('sonata_admin_dashboard') }}">Админка</a></li>
                                            <li><a href="{{ path('fos_user_profile_show') }}">Профиль</a></li>
                                            <li><a href="{{ path('fos_user_security_logout') }}">Выход</a></li>
                                        </ul>
                                    </li>
                                {% else %}
                                    <li>
                                        <a href="{{ app.request.attributes.get('_route') != 'homepage' ? path('homepage') }}#phone">(383) 380-90-04</a>
                                    </li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </nav>
        </div>

        {% for flashMessage in app.session.flashbag.get('info') %}
            <div class="alert alert-success alert-dismissible" role="alert">
                <div class="container text-center">
                    <button type="button" class="close" data-dismiss="alert">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <p>{{ flashMessage }}</p>
                </div>
            </div>

        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('error') %}
            <div class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <p>{{ flashMessage }}</p>
            </div>

        {% endfor %}

        <div id='vkmini'>
            <div class='vk_mini_loading'>
                <h2>
                    <a href='https://vk.com/club93666360'> Соль City ВКонтакте</a>
                </h2><img src="{{ asset('images/vk_mini/ajax-loader.gif') }}"/>
            </div>
        </div>

        <script>
            $('#vkmini').load(Routing.generate('vkmini'));
        </script>

        {% block sales %}
            {{ render(controller(
                'AppBundle:Sale:topSales',
                { 'max': 6 }
            )) }}
        {% endblock %}

        {% block body %}{% endblock %}

        {% block footer %}
            <footer class="footer">
                <div class="container">
                    <a href="#top"><span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span><br/>наверх</a>
                    <p>Соль City входит в содружество Галофорт</p>
                    <p>2015</p>
                </div>
            </footer>
        {% endblock %}
    </body>
</html>
