h1, h2, h3, h4, h5, h6 {
    color: #1d949a;
    /*font-family: 'Open Sans Condensed', sans-serif;*/
    font-family: 'Comfortaa', cursive;
    padding-bottom: 10px;
    font-weight: normal;
}
body.modal-open {
    overflow: inherit;
    padding-right: inherit !important;
}
section {
    padding-top: 50px;
}
#photo {
    padding-top: 0px;
}
#fos_section {
    padding-top: 7%;
    padding-bottom: 5%;
}
.navbar {
    border-bottom: 10px solid #1d949a;
}
.navbar a {
    /*font-family: 'Jura', sans-serif;*/
    font-family: 'Comfortaa', cursive;
    color: #1d949a;
    ;
}
a.navbar-brand {
    font-size: 20px;
    border-right: solid #1d949a 1px;
    border-left: solid #1d949a 1px;
}
.carousel-control.left, .carousel-control.right {
    background-image: none
}
.carousel-caption {
    /*font-family: 'Jura', sans-serif;*/
    font-family: 'Comfortaa', cursive;
    text-shadow: 0 0 5px #1d949a, 0 0 8px black;
    /*display: table;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;*/
    width: 60%;
    top: 50%;
    transform: translateY(-50%);
    bottom: initial;
}
.carousel-caption h1 {
    color: white;
    padding: 10px;
    /*font-family: 'Open Sans Condensed', sans-serif;*/
    font-family: 'Comfortaa', cursive;
    font-size: 3vw;
    margin-top: -1vw;
    margin-bottom: 0;
    padding-bottom: 2vw;
}
@supports (not (-ms-accelerator:true)) {
    .carousel-caption h1 {
        pointer-events: none;
    }
}
.carousel-caption h1 a {
    color: #a4e4e8;
    text-shadow: 0 0 5px #1d949a, 0 0 8px black;
    text-decoration: none;
    pointer-events: auto;
    /*font-family: 'Open Sans Condensed', sans-serif;*/
    font-family: 'Comfortaa', cursive;
    font-size: 3vw;
}
.carousel-caption a {
    color: white;
    text-shadow: 0 0 4px black;
    font-size: 1.5vw;
    text-decoration: underline;
}
.carousel-caption p {
    line-height: normal;
}
footer {
    text-align: center;
    color: #bababa;
}
footer a {
    display: inline-block;
    padding-top: 20px;
    padding-bottom: 10px;
}
.alert {
    position: fixed;
    top: 60px;
    left: 0;
    right: 0;
    z-index: 1;
}
.well {
    /*margin-top: 20px*/
}
.well > small > p {
    margin-bottom: 20px;
}
.well >small > h4:first-child {
    margin-top: 20px;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    border: 2px solid #3aa7ac;
    border-bottom: none;
}
.modal {
    top: 5%;
}
.label-default {
    background: #1d949a;
}
.about-bg {
    padding-top: 40px;
    padding-bottom: 15px;
    background: #3aa7ac;
}
.about-bg h1 {
    color: white;
    padding-bottom: 20px;
}
.about-nav {
    background: #EDF4F4;
    padding-bottom: 0px;
    padding-top: 20px;
    margin-top: 20px;
}
.about-nav div a {
    font-size: 6vw;
}
.about-nav div h4 {
    font-size: 0.8vw;
}
.phone-bg {
    text-align: justify;
    background: #048389;
    padding: 10px;
    padding-bottom: 20px;
}
.phone-bg h1, .phone-bg h2 {
    color: white;
}
.phone-bg h2 {
    line-height: 200%;
}
.contact-bg {
    background: #01666a;
    padding-bottom: 20px;
    border-bottom: 1px solid grey;
}
.contact-bg h1 {
    color: white;
}
.panel h1 {
    font-size: 3vw;
}
.panel h2 {
    font-size: 2.5vw;
}
.panel h3 {
    font-size: 2vw;
}
form {
    margin-bottom: 15px;
    margin-top: 15px;
}
form input {
    margin-bottom: 15px;
    margin-top: 10px;
}
.comments_form {
    border: solid #1d949a 1px;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 15px;
    border-radius: 20px;
}
.nav-tabs > .active > a {
    background-color: #1d949a !important;
    color: white !important;
    border-color: #1d949a !important;
}
.dropdown-menu > li > a {
    background-color: white !important;
    color: #333333 !important;
}
.dropdown-menu > li > a:hover {
    background-color: #1d949a !important;
    color: white !important;
}
.dropdown > a:hover {
    cursor: pointer !important;
}
#single, #day, #evening, #indiv, #hhonce, #hhtwice {
    cursor: pointer;
}
.tab_time {
    background-color: #1d949a;
    color: white;
    padding-bottom: 10px;
    margin: 0 2px 0 0;
}
.price_tag {
    padding: 20%;
    font-size: 600%;
    color: #1d949a;
    border: 1px solid #1d949a;
    margin-right: 2px;
}
.price_tag small {
    font-size: 60%;
}
.fifty-width {
    text-align: center;
    width: 50%;
    font-size: 105%;
}
.price-checkbox {
    line-height: normal;
    font-size: 120%;
}
.price-checkbox label {
    margin-right: 40px;
}

.price-checkbox label span {
    vertical-align:middle;
    padding-top: 6px;
}
.margin-right {
    margin-right: 10%;
}
.checkbox input[type=checkbox]:checked + label:after {
    font-family: 'Glyphicons Halflings';
    content: "\e013";
}
.checkbox label:after {
    padding-left: 4px;
    padding-top: 2px;
    font-size: 9px;
}
.vk_mini_loading {
    background: #1f767a;
    width: 100%;
    min-height: 102px;
    text-align: center;
}
.vk_mini_loading h2 {
    padding-top: 22px;
    margin-bottom: 0;
    margin-top: 0px;
}
.vk_mini_loading img {
    margin-top: -5px;
}
.vk_mini_out {
    background: #1f767a; width: 100%; padding-top: 5px; padding-bottom: 4px; text-align: center; position: relative;
}
.vk_mini_out h4 {
    margin-top: 10px; color: white;
}
.vk_mini_out h4 img {
    margin-bottom: 2px;
}
.vk_mini_photos {
    height: 50px; overflow: hidden; margin-top: -16px;
}
.vk_mini_photos img {
    padding-left: 4px;
}
.vk_mini_out a span {
    position:absolute; width:100%; height:100%; top:0; left: 0; z-index: 1;
}
